

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

#myInput {

    font-size: 15px;

    border: none;

}




.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);

}

.dropdown-content1 a {
    color: #00aeef;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
border-bottom: 1px solid #ddd;
}

.dropdown1 a:hover {
    background-color: #ddd;

}
.dropdown1{
    border: 2px solid #00aeef;
    float: right;

}

.show {display: block;}
.dropdown1 a{
    z-index: 1000;
}