.media-carousel
{
   margin: 0 10%;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.thumbnail{
    height: 210px;
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #c0c2c4;!important;
    box-shadow: inset 0 -4px 0px 0px #dfe2f0, 0 10px 20px 0px rgba(0, 0, 0, 0.25)!important;
}
.thumbnail a>img, .thumbnail>img {
    margin-right: auto;
    margin-left: auto;
    margin-top: 9%!important;
}




#carousel ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
#carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    display: block;
    width: 232px;
    height: 178px;
    padding: 0;
    margin: 6px;
    float: left;
    position: relative;


}


#carousel div {
    width: 276px;
    height: 276px;
    padding:30px;
    margin: 0 6px;
    text-align: center;

}
.backgr.active,  .backgr:focus, .backgr:hover{
    box-shadow: inset 0 -4px 0px 0px #a3a6b4, 0 10px 20px 0px rgba(41, 41, 41, 0.33);

}




